*{
    font-family: 'poppins',sans-serif;
}
span{
    color:#329c92
}
body
{
    background-image: url("https://static1.lenskart.com/media/desktop/img/DesignStudioIcons/DesktopLoginImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
    
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
     /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  */
    flex-direction: column;
    padding:  50px ;
    border-radius: 20px;
    /* border-top-right-radius:15px;
    border-bottom-right-radius: 15px; */
    /* background: linear-gradient(90deg,#8d36d4,#8a5bab); */
    /* background-color: white; */
    align-items: center;
    
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.inputs{
    height: 38px;
    border-radius: 20px ;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
   border: 0px;
    width: 80%;
   
}
.inputs:focus{
    border: none;
}
#button{
    width: 340px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #329c92;
    color: white;
    
}
button{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #329c92;
    color: white;
    
}
/* #bottom{
    display: flex;
    font-size: 17px;
    flex-direction: column;
    text-align: center;
} */
#bottom >:nth-child(1){
    margin-right: 70px;
    text-decoration: none;
    margin-left: 10px;
}
#bottom >p{
    text-align: center;
}

a{
    text-decoration: none;
    color: #329c92;
}

#logo{
    /* border: solid; */
    border-radius: 15px
}

#logo >a> img{
    width: 500px;
    height: 550px;
    margin-top: 4px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

